.container-central .container-configurar {
  width: 40%;
  border-top: 1px #D3D3D3 solid;
  margin-left: 2%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #d3d3d3;
  padding-bottom: 20px;
  height: 300px;
}

.container-central .container-validar {
  width: 54%;
  margin-left: 2%;
  border: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.title {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  background-color: #DCDCDC;
  color: #333333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container-central .container-configurar input {
  margin-top: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
}

.container-central .container-configurar .endereco-privado {
  margin-left: 3%;
  width: 55%
}

.container-central .container-configurar .quantidade-porta {
  margin-left: 3%;
  width: 35%
}

.container-central .container-configurar .endereco-publicos {
  margin-left: 3%;
  width: 93%;
}

.container-central .container-configurar .addValidar {
  margin-top: 15px;
  height: 48px;
  width: 20%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  font-weight: bold;
  border-radius: 5px;
  background-color: #DCDCDC;
  margin-left: 76%;
}
