.container-central{
  position: relative;
  margin-top: 50px;
  margin-bottom:50px;
  width: 100%;
  display: flex;
  align-content: center;
}

.container-central .containerLeft {
  margin-left: 40px;
  width: 30%;
  border-top:#D3D3D3 1px solid;
  border-radius: 3px;
}

.container-central .containerLeft h1 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: #D3D3D3 1px solid; 
  border-right: #D3D3D3 1px solid;
  border-left: #D3D3D3 1px solid;
  padding: 15px;
  color: #666;
  background-color: #DCDCDC;
}
.container-central .containerLeft strong {
  font-size: 18px;
  color: #666
}
.container-central .containerLeft .mensagem {
  padding: 15px;
  font-size: 14px;
  text-align: justify;
  border-bottom: #D3D3D3 solid 1px;
  border-right: #D3D3D3 1px solid;
  border-left: #D3D3D3 1px solid;
  color:#999
}

.container-central .containerLeft .mensagem .dataContainer {
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding-top: 5px
}

.container-central .containerMiddle {
  margin-left: 40px;
  width: 30%;
  border-top:#D3D3D3 1px solid;
  border-radius: 3px;
}

.container-central .containerMiddle h1 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: #D3D3D3 1px solid; 
  border-right: #D3D3D3 1px solid;
  border-left: #D3D3D3 1px solid;
  padding: 15px;
  color: #666;
  background-color: #DCDCDC;
}
.container-central .containerMiddle strong {
  font-size: 18px;
  color: #666
}
.container-central .containerMiddle .mensagem {
  padding: 15px;
  font-size: 14px;
  text-align: justify;
  border-bottom: #D3D3D3 1px solid; 
  border-right: #D3D3D3 1px solid;
  border-left: #D3D3D3 1px solid;
  color:#999
}

.container-central .containerMiddle .mensagem .information {
  margin-left: 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.container-central .containerMiddle  .mensagem .information strong {
  font-size: 18px;
  color: #666;
  margin-right: 10px;
}

.container-central .containerRight strong {
  font-size: 18px;
  color: #666
}
.container-central .containerRight .mensagem {
  margin-top: 0px;
  padding: 15px;
  font-size: 18px;
  text-align: justify;
  color:#999;
  border-left: #D3D3D3 solid 1px;
  border-right: #D3D3D3 solid 1px;
  border-bottom: #D3D3D3 solid 1px;
}

.container-central .containerRight {
  margin-left: 40px;
  padding-bottom: 10px;
  width: 400px;
  border-radius: 3px;
}

.container-central .containerRight h1 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: #D3D3D3 1px solid;
  padding: 15px;
  color: #666;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #DCDCDC;
}
.container .footer{
    position: absolute;
    height: 50px;
    bottom: 0;
    width: 100%;
    border-top: #D3D3D3 1px solid;
    padding-top: 15px;
  
}