 .appBar{
    border-bottom: 1px solid #D3D3D3;
  }

.appBar .itemOne {
  margin-left: 30px;
}

.appBar .avatar {
  margin-left: 10px;
  left: 5px;
}

.toolbar{
  flex-wrap: wrap
}

.toolbarTitle{
  flex-grow: 2
}

.logo{
  margin-top: 8px
}

.avatar{
  background-color: blue
}

.container-central{
  position: relative;
  margin-top: 100px;
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  bottom: 50px;
  align-content: center
}

.container-central .containerOne {
  margin-left: 40px;
  height: 500px;
  width: 30%;
  border: #D3D3D3 1px solid;
  border-radius: 3px;
}

.container-central .containerOne h1 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: #D3D3D3 1px solid;
  padding: 15px;
  color: #666
}
.container-central .containerOne strong {
  font-size: 18px;
  color: #666
}
.container-central .containerOne .mensagem {
  padding: 15px;
  font-size: 14px;
  text-align: justify;
  border-bottom: #D3D3D3 solid 1px;
  color:#999
}

.container-central .containerOne .mensagem .dataContainer {
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding-top: 5px
}
.container-central .containerTwo strong {
  font-size: 18px;
  color: #666
}
.container-central .containerTwo .mensagem {
  margin-top: 0px;
  padding: 15px;
  font-size: 18px;
  text-align: justify;
  color:#999;
  border-left: #D3D3D3 solid 1px;
  border-right: #D3D3D3 solid 1px;
  border-bottom: #D3D3D3 solid 1px;
}


.container-central .containerTwo {
  margin-left: 40px;
  padding-bottom: 10px;
  width: 400px;
  border-radius: 3px;
}

.container-central .containerTwo h1 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: #D3D3D3 1px solid;
  padding: 15px;
  color: #666;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.container .footer{
    position: absolute;
    height: 50px;
    bottom: 0;
    width: 100%;
    border-top: #D3D3D3 1px solid;
    padding-top: 15px;
  
}